/* fonts */
/* google-sans-code-300 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-300italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-300italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-500 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-500italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-500italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-600 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-600italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-600italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-700italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-800 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-800italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/google-sans-code-v14-latin_latin-ext-800italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --font-family-mono: "Google Sans Code", monospace;
  --font-family-base: "Google Sans Code", monospace;
  --font-size-base: 0.9em;
  --font-size-small: 0.85em;
  --font-size-code: 0.85em;

  color-scheme: light dark;

  /* Light mode knobs */
  --bg-h: 267;
  --bg-s: 20%;
  --bg-l: 80%;

  /* Dark mode knobs */
  --bg-h-dark: 245;
  --bg-s-dark: 26%;
  --bg-l-dark: 16%;


  /* Background colors */
  --color-bg-primary: light-dark(hsl(var(--bg-h) var(--bg-s) var(--bg-l)), hsl(var(--bg-h-dark) var(--bg-s-dark) var(--bg-l-dark)));

  --color-bg-secondary: light-dark(hsl(var(--bg-h) var(--bg-s) calc(var(--bg-l) - 2%)), hsl(var(--bg-h-dark) var(--bg-s-dark) calc(var(--bg-l-dark) - 2%)));

  --color-border: light-dark(hsl(var(--bg-h) var(--bg-s) calc(var(--bg-l) - 6%)), hsl(var(--bg-h-dark) var(--bg-s-dark) calc(var(--bg-l-dark) - 6%)));

  --color-selection-bg: light-dark(hsl(var(--bg-h) var(--bg-s) calc(var(--bg-l) - 13%)), hsl(var(--bg-h-dark) var(--bg-s-dark) calc(var(--bg-l-dark) - 13%)));


  /* Text colors with WCAG-friendly contrast */
  /* Primary: ensures near-black on light bg and near-white on dark bg */
  --color-text-primary: light-dark(hsl(var(--bg-h) var(--bg-s) clamp(8%, calc(100% - var(--bg-l)), 92%)), hsl(var(--bg-h-dark) var(--bg-s-dark) clamp(8%, calc(100% - var(--bg-l-dark)), 92%)));

  /* Muted: softer but still >4.5:1 contrast */
  --color-text-muted: light-dark(hsl(var(--bg-h) var(--bg-s) clamp(30%, calc(85% - var(--bg-l)), 75%)), hsl(var(--bg-h-dark) var(--bg-s-dark) clamp(30%, calc(85% - var(--bg-l-dark)), 75%)));

  /* Code text: slightly brighter than muted */
  --color-text-code: light-dark(hsl(var(--bg-h) var(--bg-s) clamp(20%, calc(90% - var(--bg-l)), 85%)), hsl(var(--bg-h-dark) var(--bg-s-dark) clamp(20%, calc(90% - var(--bg-l-dark)), 85%)));

  /* Fixes camouflaged text in syntax highlighting */

  .highlight *,
  pre code * {
    color: unset
  }
}